*{
	margin: 0;
	padding: 0;
}

.home{
	background: url(../images/grass-line.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home > div > h1{
	color:  #1a1a1a;
	font-family: 'Gayathri', sans-serif;
}

.btn{
	background-color: white;
	color: black;
	border-style: none;
	margin-top: 10px;
	padding: 10px 30px;
	border-radius: 20px;
	transition: 0.2s;
	font-family: 'Gayathri', sans-serif;
}

.btn:hover{
	background-color: #4d4d4d;
	transition: 0.2s;
	text-decoration: underline;
}

.description{
	background: url(../images/dust-field.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.navbar{
	overflow: hidden;
  	background-color: #333;
 	position: sticky;
 	top:0;
  	width: 100%;
  	height: 30px;
 }

 .navbar > .right-link{
 	float: right;
 }

.navbar > a{
	color: white;
	text-decoration: none;
	font-family: 'PT Serif', serif;
	padding: 2px;
	font-size: 22px;
	padding: 1px 15px;
}

.navbar > a:hover{
	background:#bfbfbf;
	color: black;
}

.left img{
	padding-left: 10px;
	width: 80%;
	height: 80%;
}

.left{
	height: 100vh;
	width: 50vw;
	display:flex;
	justify-content: center;
	align-items: center;
}

.right{
	height: 100vh;
	width: 50vw;
	display:flex;
	justify-content: center;
	align-items: center;
}

.description > .right > p{
	font-family: 'Gayathri', sans-serif;
	color: #1a1a1a;
	font-size: 20px;
}

.description > .right > p > span{
	color: black;
	font-size: 23px;
	font-weight: bold;
}

.about{
	background: url(../images/field.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.about > div > img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.about > div > h1{
	padding-top: 10px;
	color: black;
	font-family: 'Gayathri', sans-serif;
}

.gallery{
	background: url(../images/field-stadium.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.gallery > div > img{
	width: 200px;
	height: 200px;
	transition: 0.2;
	border-radius:20px;
}

.gallery > div > img:hover{
	transform: scale(1.75);
	transition: 0.2s;
}

.gallery > div > h1{
	color: #1a1a1a;
	font-family: 'Gayathri', sans-serif;
}

.contact-me{
	background:url(../images/field-top.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.contact-me > .right > h3{
	color: #cccccc;
	font-family: 'Gayathri', sans-serif;
}

.contact-me > .left > form > input{
	display: block;
	border: 1px solid #003300;
	margin: 10px auto;
	height: 30px;
	width: 300px;
	border-radius: 8px;
}

 .contact-me > .left > form > textarea{
	display: block;
	border: 1px solid #003300;
	margin: 10px auto;
	height: 175px;
	width: 300px;
	border-radius: 8px;
	resize: none;
}

.contact-me > .left > form > button{
	background-color: white;
	color: black;
	border-style: none;
	margin-top: 10px;
	padding: 10px 30px;
	border-radius: 20px;
	transition: 0.2s;
	font-family: 'Gayathri', sans-serif;
}

.contact-me > .left > form > button:hover{
	background-color: #4d4d4d;
	transition: 0.2s;
}